*{
    margin: 0;
    padding: 0;
    font-family:none;
}
body
{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(webs.jpg);
   background-position:center;
   background-size: cover;
}
ul
{    
      float: right;
     list-style-type: none;
     margin-top: 29px;
     
}
ul li
{ 
 display: inline-block;
}

ul li a
{
 color: #fff;
 padding:5px 20px;
  transition:0.5s ease;
  border:1px solid transparent;
  text-decoration: none;
  
}
ul li a:hover
  {
      background-color:#fff;
      color:#000;

}
.main
{
    padding:20px;
}

 .form
 {    
    margin: 10px 2px;
      width:480px;
      height:280px;
      margin:130px auto;
      background:rgba(0,0,0,0.3);
      padding:60px 20px;;
      overflow:hidden;
      color:white;
      font-size: 15px;    
 }
 .register
 {
  padding:3px  20px;;
  width:200.5px;
  margin:5px auto;
  position:relative;
 }
 .submit-btn
 {
   border:none;
   color:white;
   padding:10px 32px;
   font-size: 20px;
   margin: 1px 2px;
   cursor:pointer;
   text-decoration: none;
   background-color: tomato;
   display:inline-block;
   position:absolute;
   margin-left: 35px;
   text-align:center;
 }
